/* variables */

:root {
    --color-bg-content: #fff;
    --color-bg-main: #f4f5f7;
    --color-bg-accent: #e0e4e8;
    --color-bg-neutral: #acacac;
    --color-font-main: #333;
    --color-primary-dark: #1448ed;
    --color-primary: #4d7ae8;
    --color-secondary: #1be2bc;
    --color-secondary-light: #bdf2e8;

    --font-default: 'Inter', Arial, sans-serif;
}

/* fonts */

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-style: normal;
}

/* init and normalize */

* {
    box-sizing: border-box;
}

html {
    color: var(--color-font-main);
    font-size: 20px;
    width: 600px;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: var(--color-bg-main);
    font-family: var(--font-default);
}

a {
    color: inherit;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

h1, h3 {
    margin: 0;
    font-weight: 500;
}
h1 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
}

footer {
    color: var(--color-bg-neutral);
    padding-right: 8px;
    padding-bottom: 4px;
    text-align: right;
}


/* classic class */

.absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

.bgNeutral {
    color: var(--color-bg-neutral);
}

.primaryDark {
    color: var(--color-primary-dark);
}

.defaultHidden {
    display: none;
}

.floatRight {
    float: right;
}

.link {
    text-decoration: underline;
}

.valignBottom {
    vertical-align: bottom;
}

.valignMiddle {
    vertical-align: middle;
}

.cursorPointer {
    cursor: pointer;
}


/* helper class */

.button--onlyText {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: transparent;
    color: inherit;
}

.button--primary {
    background: var(--color-primary);
    color: var(--color-bg-content);
}

.button--secondary {
    background: var(--color-secondary);
}

.flex-item {
    flex: 100% 1 1;
}

.flex-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.flex-alignStretch {
    align-items: stretch;
}

.flex-spaceBetween {
    justify-content: space-between;
}

.mt-0 {
    margin-top: 0;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mr-8 {
    margin-right: 8px;
}

.p-8 {
    padding: 8px;
}

.p-12 {
    padding: 12px;
}

.pl-65 {
    padding-left: 65px;
}

.pr-65 {
    padding-right: 65px;
}


/* component class */

.Favorite {
    margin-bottom: 0;
}

.Favorite:hover {
    background: var(--color-secondary-light);
}

.Favorite img {
    width: 24px;
    height: 24px;
}

.Form-infoBull {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 50%;
    background: var(--color-primary);
    color: var(--color-bg-content);
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
}

.Form label {
    display: inline-block;
    white-space: nowrap;
    margin-right: 8px;
}

.Form textarea {
    width: 100%;
    height: 100px;
}

.Form .Form-textarea--small {
    height: 50px;
}

.Form input[type='text'],
.Form input[type='number'],
.Form textarea {
    padding: 6px 12px;
}

.Header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--color-bg-neutral);
    padding: 12px;
    background: var(--color-bg-content);
}

.Header-title {
    flex: 100% 1 1;
}

.Content {
    position: relative;
    min-height: 200px;
}

.Page {
    position: relative;
    min-height: 200px;
    max-height: 500px;
    overflow-y: scroll;
}

.Page--absoluteHover {
    position: absolute;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Project {
    border-bottom: 1px solid var(--color-bg-neutral);
}

.Project-header {
    display: flex;
    background: var(--color-bg-content);
}

.Project-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.Project-name {
    display: inline-block;
    flex: 100% 1 1;
    width: calc(100% - 52px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Project-actions {
    white-space: nowrap;
}

.Project-actions img {
    vertical-align: middle;
    margin-left: 8px;
    cursor: pointer;
}

.Project-setTimeInput {
    width: 35px;
    vertical-align: middle;
    text-align: right;
}

.Project-issue {
    display: flex;
    align-items: center;
    padding-left: 45px;
    padding-right: 12px;
}

.Project-issue:hover {
    background: var(--color-secondary-light);
}

.Project-issue--phantom {
    background: var(--color-bg-accent);
}

.Project-issueName {
    display: inline-block;
    flex: 1px 1 1;
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.Project-issueTime {
    width: 64px;
    text-align: right;
    margin-left: 12px;
    margin-right: 12px;
}

.Project-issueTimeSubmit {
    width: 24px;
    height: 24px;
    padding: 0;
    background: transparent;
}

.Project-issueTimeSubmit img {
    width: 24px;
    height: 24px;
}

.Project--error {
    background: var(--color-primary);
    color: var(--color-bg-content);
}

.Project--error .timerTrackerProjectErrorDeleteConfig {
    filter: brightness(2);
}


/* pages */

#timerTrackerLoadPage {
    background: rgba(244, 245, 247, .7);
}

#timerTrackerLoadPage .loader {
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    width: 56px;
    height: 56px;
    animation: load 2s infinite;
}


/* special */

#projectFormError {
    display: inline-block;
    min-height: 1rem;
}

/* animations */

@keyframes load {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.7);
        opacity: .7;
    }
    100% {
        transform: scale(1);
    }
}